body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 16px;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}

/* logo  */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #757575;
}

.logo {
  color: #000;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1;
}
.logo__accent {
  color: #2196f3;
}

/* menu */

.navigation__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.navigation__item:active {
  color: #2196f3;
}
/* footer */
.footer {
  background: #2f303a;
}
.footer-address__address {
  color: #fff;
  line-height: 171%;
}

/* banner */
.banner {
  background: #2f303a;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}
.banner__title {
  color: #fff;
  letter-spacing: 0.06em;
  font-size: 44px;
  font-weight: 900;
  line-height: 116%;
}

.banner__button {
  color: white;
  background: #2196f3;
  width: 200px;
  height: 50px;
  padding: 10px 42px;
  line-height: 160%;
}

/* container with lorem ipsums */
.container__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.container__content {
  line-height: 171%;
  color: #757575;
}

/* containter Czym się zajmujemy */
.container-img__title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
}

/* containter - team */

.container-team__name {
  font-weight: 500;
}
.container-team__occupation {
  color: #757575;
  text-align: center;
}

/* Portfolio section */
.button__btn {
  font-weight: 500;
  text-align: center;
  color: #212121;
  line-height: 139%;

  padding: 6px 22px;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}

.button__btn:active {
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-container__item {
  box-sizing: border-box;
  border: 1px solid #eeeeee;
}
